In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
help(abs)
abs(-1)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

1

# Getting Help

In [55]:
?abs

# or

abs?

# or traditional
help(abs)

print('hello world')

#print 'hello world'

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

hello world

In [5]:
import math as m
import math
dir(m)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [6]:
math.acosh?

# Use as Calculator like R

In [17]:
2+3+4

100-5*4

# Reminder
15%4

# variable assignment
a=100

In [7]:
h=5
w=4
w*h

20

In [9]:
# power
2**3

8

# Data Types

## Strings

In [11]:
s='this is a string'
print(s)

this is a string

In [8]:
i=5.445

In [9]:
s+i

NameError: name 's' is not defined

In [13]:
# string operations
s1='string1'
s+s1
s+' '+s1*3

'this is a string string1string1string1'

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [21]:
# slicing or selecting. Index starts from 0 (1 in case of R)
s[2]

s[-2]

s[2:5]

s[::-1]

'gnirts a si siht'

In [16]:
s[2:5]

'is '

In [52]:
# string methods
# upper case
s.upper()
# lower case
s.lower()
s.count('s')
s.replace('s','s1')
# strip white space
s.strip()
# very useful for parsing text
s.split(' ')

len(s)

['this', 'is', 'a', 'string']

In [46]:
len(s)
len(l1)

4

In [22]:
# very useful for parsing text
s.split(' ')

['this', 'is', 'a', 'string']

In [23]:
# very useful for parsing text
s.split('s')

['thi', ' i', ' a ', 'tring']

In [17]:
s.count('s')

3

In [19]:
s
s.replace('s','s1')
s

'this is a string'

In [21]:
'x  '.strip()
'aaabcd'.count('a')

3

In [53]:
s.split('s')

['thi', ' i', ' a ', 'tring']

In [16]:
s1*2+' '+s

'string1string1 this is a string'

In [49]:
v=1.293
int(v)
float('1.11')
int('5')

5

## integers: 1,2, ..
## float: 1.1, 2.3
## bool: True, False

# Lists

In [36]:
l=[1,2,3,4,5,6]

a=1
b=2
l1 = ['my', 'list', a, b]
# nested list
l2=[l,l1,a]
l2

[[1, 2, 3, 4, 5, 6], ['my', 'list', 1, 2], 1]

In [25]:
l=[1,2,3,4,5,6]
l[2]

3

In [26]:
l[-2]

5

In [27]:
l[2:5]

[3, 4, 5]

In [28]:
l[::-1]

[6, 5, 4, 3, 2, 1]

In [33]:
l
l[0]=100
l

[100, 5, 4, 3, 2, 1]

In [40]:
l2

[[1, 2, 3, 4, 5, 6], ['my', 'list', 1, 2], 1]

In [43]:
l2[0]

[1, 2, 3, 4, 5, 6]

In [44]:
l2[0][3]
l3=l2[0]
l3[3]

4

In [34]:
s='string'
s[0]

's'

In [35]:
s[0]='xyz'

TypeError: 'str' object does not support item assignment

In [27]:
# slice
l[2]

l[-2]

l[2:5]

l[::-1]

# strings are immuatable
# l[2]='x' won't work

[6, 5, 4, 3, 2, 1]

In [32]:
#
l2[1]

['my', 'list', 1, 2]

In [33]:
l2[1][2]

1

In [34]:
# list operations
l+l1

[1, 2, 3, 4, 5, 6, 'my', 'list', 1, 2]

In [52]:
l*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [56]:
l

[1, 2, 3, 4, 5, 6]

In [57]:
x=[i*2 for i in l if i>2]
x

[6, 8, 10, 12]

In [58]:
l.index(3)

2

In [69]:
l.append(1000)
l

[1, 2, 3, 4, 6, 1000, 1000, 1000]

In [70]:
set(l)

{1, 2, 3, 4, 6, 1000}

In [67]:
l.remove(100)
l

[1, 2, 3, 4, 6, 1000]

In [72]:
l.reverse()
l

[1, 2, 3, 4, 6, 1000, 1000, 1000]

In [74]:
l.append(0)
l

[1, 2, 3, 4, 6, 1000, 1000, 1000, 0, 0]

In [75]:
sorted(l)

[0, 0, 1, 2, 3, 4, 6, 1000, 1000, 1000]

In [57]:
# list methods
l.index(4)
l.count(1)
# add value to list
l.append(5)
l.remove(5)
# equivalent to l[::-1]
l.reverse()

In [76]:
list('xyz')

['x', 'y', 'z']

In [77]:
'x y z'.split()

['x', 'y', 'z']

In [93]:
# set
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

In [94]:
set([1,1,3,2,2])

{1, 2, 3}

In [38]:
# change value, list is mutable
l[2]='xyz'
l

[1, 2, 'xyz', 4, 5, 6]

In [54]:
# make list from a string
list('abcd')

['a', 'b', 'c', 'd']

In [78]:
# Dictionary
d={'x':5,'a':1,'b':2, 'c':'10'}
d

{'x': 5, 'a': 1, 'b': 2, 'c': '10'}

In [63]:
d['x']

5

In [79]:
d['a']

1

In [80]:
%timeit d['a']

10000000 loops, best of 5: 20.8 ns per loop

In [64]:
d['x']=0
d['x']

0

In [65]:
# tuples
tup=('a','b','c')
tup

('a', 'b', 'c')

In [66]:
tup[1]

'b'

In [67]:
tup[1]=4

TypeError: 'tuple' object does not support item assignment

# Looping

In [81]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [83]:
print(range(5))

range(0, 5)

In [86]:
range(100000000)

range(0, 100000000)

In [84]:
list(range(5))

[0, 1, 2, 3, 4]

In [72]:
for i in range(5):
    print(i)

0
1
2
3
4

In [73]:
range(5, 10)

range(5, 10)

In [74]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [76]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [87]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i]*2)

0 MaryMary
1 hadhad
2 aa
3 littlelittle
4 lamblamb

In [96]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [95]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [98]:
# To loop over two or more sequences at the same time, the entries can be paired with the zip() function.
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your ',q,'?  It is ', a)

What is your  name ?  It is  lancelot
What is your  quest ?  It is  the holy grail
What is your  favorite color ?  It is  blue

In [99]:
for i in range(len(questions)): 
    print('What is your ',questions[i],'?  It is ', answers[i])

What is your  name ?  It is  lancelot
What is your  quest ?  It is  the holy grail
What is your  favorite color ?  It is  blue

In [78]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [79]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [4]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
    else:
        print("No even number", num)

Found an even number 2
No even number 3
Found an even number 4
No even number 5
Found an even number 6
No even number 7
Found an even number 8
No even number 9

In [92]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 1000:
    print(a) #, end=','
    a, b = b, a+b
    #a=b
    #b=a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [70]:
x = 0 #int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Zero

# Functions

In [80]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [81]:
fib(10)

0 1 1 2 3 5 8

In [82]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [2]:
func= lambda x,y:x*y
func(2,5)

10

In [83]:
# list comprehensions
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
squares = {x:x**2 for x in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [93]:
[(x, y) for x in [1,2,3] for y in [3,1,4]]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [88]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [89]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [90]:
vec = [-4, -2, 0, 2, 4]
[x for x in vec if x >= 0]

[0, 2, 4]

In [91]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [92]:
a=[1,2,3]
del a[0]
a

[2, 3]